# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [229]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [230]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [231]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [232]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [233]:
Total_budget = school_data['budget'].sum()
print (Total_budget)

24649428

In [234]:
Total_schools=school_data["school_name"].count()
print(Total_schools)

15

In [235]:
Total_students=student_data["student_name"].count()
print(Total_students)

39170

In [236]:
Average_math_score=student_data['math_score'].mean()
print(Average_math_score)

78.98537145774827

In [237]:
Average_reading_score=student_data['reading_score'].mean()
print(Average_reading_score)

81.87784018381414

In [238]:
overall_passing_rate=(Average_math_score+Average_reading_score)/2
print(overall_passing_rate)

80.43160582078121

In [239]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(Total_students) * 100
print(passing_math_percentage)

74.9808526933878

In [240]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(Total_students) * 100
print(passing_reading_percentage)

85.80546336482001

In [447]:
District_Summary=pd.DataFrame({"Total Schools":[Total_schools],"Total Students":[Total_students],"Total Budget":[Total_budget],"Average Math Score":[Average_math_score],"Average Reading Score":[Average_reading_score],"%Passing Math":[passing_math_percentage],"%Passing Reading":[passing_reading_percentage],"%Overall Passing Rate":[overall_passing_rate]})
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [556]:
school_group= school_data_complete.set_index('school_name').groupby(['school_name'])

school_group.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Figueroa High School,2918,Nathan Campbell,M,12th,97,84,1,District,2949,1884411
Figueroa High School,2919,Randall Stewart,M,12th,67,77,1,District,2949,1884411
Figueroa High School,2920,Jennifer Brown,F,9th,97,64,1,District,2949,1884411
Figueroa High School,2921,Denise Lopez,F,10th,79,64,1,District,2949,1884411
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Shelton High School,5867,Shannon Phillips,F,10th,84,71,2,Charter,1761,1056600
Shelton High School,5868,Todd Barber,M,11th,95,99,2,Charter,1761,1056600
Shelton High School,5869,Desiree King,F,12th,76,95,2,Charter,1761,1056600
Shelton High School,5870,Melissa Roberts,F,10th,71,82,2,Charter,1761,1056600
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Hernandez High School,7628,Timothy Walker,M,12th,97,93,3,District,4635,3022020
Hernandez High School,7629,Katie Johnston,F,12th,83,81,3,District,4635,3022020
Hernandez High School,7630,Joann Oconnell,F,12th,77,91,3,District,4635,3022020
Hernandez High School,7631,Sarah Alexander,F,10th,84,93,3,District,4635,3022020
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Griffin High School,12263,Elizabeth Goodwin,F,10th,91,81,4,Charter,1468,917500
Griffin High School,12264,Michelle Wong,F,9th,78,89,4,Charter,1468,917500
Griffin High School,12265,Scott Roth MD,M,11th,91,85,4,Charter,1468,917500
Griffin High School,12266,Billy Wilson,M,12th,76,83,4,Charter,1468,917500
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wilson High School,13731,Russell Ramirez,M,10th,72,87,5,Charter,2283,1319574
Wilson High School,13732,Eric Butler,M,10th,97,82,5,Charter,2283,1319574
Wilson High School,13733,Warren Kerr,M,11th,93,68,5,Charter,2283,1319574
Wilson High School,13734,Gail Hall,F,9th,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Pena High School,23275,Michael Meyer,M,10th,94,76,9,Charter,962,585858
Pena High School,23276,Donald Gutierrez,M,11th,98,91,9,Charter,962,585858
Pena High School,23277,Travis Chavez,M,11th,78,71,9,Charter,962,585858
Pena High School,23278,Sheena Ball,F,12th,87,92,9,Charter,962,585858
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400
Wright High School,24237,Kimberly Hamilton,F,10th,84,93,10,Charter,1800,1049400
Wright High School,24238,Ashley Johns,F,10th,88,88,10,Charter,1800,1049400
Wright High School,24239,Stephanie Donovan,F,10th,75,84,10,Charter,1800,1049400
Wright High School,24240,Cynthia Guzman,F,11th,93,82,10,Charter,1800,1049400
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Rodriguez High School,26037,Kimberly Calderon,F,10th,80,86,11,District,3999,2547363
Rodriguez High School,26038,William Brady,M,11th,97,62,11,District,3999,2547363
Rodriguez High School,26039,Jacob Padilla,M,11th,79,73,11,District,3999,2547363
Rodriguez High School,26040,Paula Maldonado,F,10th,96,92,11,District,3999,2547363
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Johnson High School,30036,Jessica Lopez,F,9th,98,62,12,District,4761,3094650
Johnson High School,30037,Anna Wilkins,F,11th,89,77,12,District,4761,3094650
Johnson High School,30038,Andrew Smith,M,9th,66,85,12,District,4761,3094650
Johnson High School,30039,Robert Allison,M,11th,63,85,12,District,4761,3094650
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Ford High School,34797,Stephen Wolf,M,11th,68,63,13,District,2739,1763916
Ford High School,34798,Bonnie Hughes,F,12th,73,59,13,District,2739,1763916
Ford High School,34799,Melissa Smith,F,11th,88,58,13,District,2739,1763916
Ford High School,34800,Brian Mitchell,M,10th,96,55,13,District,2739,1763916
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [534]:
school_type=school_data.set_index('school_name')['type']

school_size=school_data.set_index('school_name')['size']

Total_budget_per_school = school_data.set_index('school_name')['budget']

Total_Students_per_school=school_group["Student ID"].count()

total_student_per_budget = Total_budget_per_school/school_size

Average_Math_Score_per_school = school_group['math_score'].mean()

Average_Reading_Score_per_school = school_group['reading_score'].mean()

Passing_Math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/Total_Students_per_school
Passing_Math_Percentage_per_school = Passing_Math * 100

Passing_Reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/Total_Students_per_school
Passing_Reading_Percentage_per_school = Passing_Reading * 100

Overall_Passing_Rate_per_school=(Passing_Reading_Percentage_per_school+Passing_Math_Percentage_per_school)/2

school_summary_data={'School Type': school_type,'Total Students': school_size,'Total School Budget': Total_budget_per_school,'Per Student Budget': total_student_per_budget,'Average Math Score': Average_Math_Score_per_school,'Average Reading Score': Average_Reading_Score_per_school,'% Passing Math': Passing_Math_Percentage_per_school,'% Passing Reading':Passing_Reading_Percentage_per_school,'Overall Passing Rate':Overall_Passing_Rate_per_school,
    }

In [535]:
school_summary= pd.DataFrame(school_summary_data)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [536]:
total_student_per_budget = Total_budget_per_school/school_size
total_student_per_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [537]:
Total_Students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [538]:
total_student_per_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [539]:
Average_Math_Score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [540]:
Average_Reading_Score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [541]:

Passing_Math_Percentage_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [542]:

Passing_Reading_Percentage_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [543]:
Overall_Passing_Rate_per_school

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [548]:
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [549]:
Top_five_schools = school_summary.sort_values(by= 'Overall Passing Rate', ascending=False)
Top_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [550]:
Worst_five_schools = school_summary.sort_values(by= 'Overall Passing Rate', ascending=True)
Worst_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [552]:
df['new column name'] = df['df column_name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [560]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
scores_by_spending = school_summary.loc[:,['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate',]]

scores_by_spending['Spending Ranges (Per Student)']= pd.cut(school_summary['Per Student Budget'],spending_bins,labels=group_names)


scores_by_spending = scores_by_spending.groupby('Spending Ranges (Per Student)').mean()
scores_by_spending.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [561]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
scores_by_size = school_summary.loc[:,['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate',]]
scores_by_size['School Size']= pd.cut(school_summary['Total Students'],size_bins,labels=group_names)
scores_by_size = scores_by_size.groupby('School Size').mean()
scores_by_size.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [565]:
scores_by_school_type = school_summary[['School Type','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate',]]
scores_by_school_type = scores_by_school_type.groupby('School Type').mean()
scores_by_school_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757